body {
    background-color: white;
}

body{
    margin: 0 auto;
    max-width: 50em;
    /* max-width: 50vw */
  }

  body {
    font-family: "Helvetica", "Arial", sans-serif;
  }

  body {
    line-height: 1.5;
    padding: 4em 1em;
  }

  body {
    color: #555;
  }

  h1,
  strong {
  color: #020202;
  }
  
  body {
    color: #566b78;
  }
  

  header {
    background-color: #ffffff;
    background-image: url("Formen.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: right;
  }

  img{
    width: 50%;
  }

